.boxplanets{
    position: absolute;
    top: 50px;
    left: 0;
    height: 30%;
    width: 10%;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding: 10px ;
    background-color: black;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px black;
    border: 2px solid yellow;
    border-bottom-right-radius:20px;
    overflow: hidden;
    display: flex;
    flex-direction:column ;
    
}

.box{
    /* position: top; */
    height: 100%;
    width:100%;
    padding-top: 5px;
    /* border-top: 2px solid yellow; */
    border-bottom: 4px solid yellow;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box a {
    text-decoration: none;
}

.box.Dathomir{
    border-bottom: none;
}


.boxplanets.active{
    transition: transform 0.5s ease;
    transform: translateY(400px);
}
.box.Corrusant.active{
    transition: transform 0.5s ease;
    transform: translateY(400px);
}
.box.Naboo.active{
    transition: transform 0.5s ease;
    transform: translateY(400px);
}
.box.Scariff.active{
    transition: transform 0.5s ease;
    transform: translateY(400px);
}
.box.Dathomir.active{
    transition: transform 0.5s ease;
    transform: translateY(400px);
}